.product-detail {
	color: #61dafb;
}

.product-detail h2,
.product-detail span {
	color: white;
}

.return-icon-detail,
.edit-icon-detail,
.delete-icon-detail {
	margin: 4px;
	display: inline-block;
	vertical-align: middle;
	float: none;
	padding: 12px;
	cursor: pointer;
}
