.order-crud {
	h3,
	span {
		color: black;
	}

	.form-label {
		color: white;
	}
}

.date-picker {
	margin-top: 1px;
	background: white;
	font-size: 24px;
}

.customer-inputs {
  font-size: 18px;
  color: black;
}

.full-width {
  width: 100%;
}